.dashboard-page .wallet-address {
  font-weight: bold;
}
.dashboard-page .transactions th,
.dashboard-page .transactions td {
  padding: 15px;
  border-radius: 0;
}
.dashboard-page .balance {
  font-weight: bold;
}
.dashboard-page .balance .integral {
  font-size: 26px;
}
.dashboard-page .balance .fraction {
  font-size: 24px;
}
.dashboard-page .balance .ticker {
  font-size: 24px;
  font-weight: 600;
}
.dashboard-page .card .card-content .divider {
  height: 1px;
  width: 100%;
  color: #eee;
  margin: 40px 0;
}
.dashboard-page .card .card-content .right a.btn-flat {
  text-transform: capitalize;
  text-decoration: underline;
}
.dashboard-page .card.total-reward .card-content {
  padding: 24px !important;
}
.dashboard-page .agree {
  display: block;
  font-size: 16px;
  line-height: 34px;
  padding-right: 20px;
}