/* This file included on base layout so only common css will be here */
html {
  font-family: 'Source Sans Pro', sans-serif;
  background: #EDF0F7;
}
html,
html body {
  height: 100%;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.field-validation-error {
  display: block;
  margin-top: 5px;
  color: #e51739;
}
input[readonly] {
  color: rgba(0, 0, 0, 0.42);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.42) !important;
}
.input-validation-error,
.input-validation-error:focus {
  border-bottom: 1px solid #d61535 !important;
  color: #e51739 !important;
  box-shadow: 0 1px 0 0 #d61535 !important;
}
.input-validation-error ~ label,
.input-validation-error ~ label:focus {
  color: #e51739 !important;
}
.white-form input {
  color: #ffffff;
}
.white-form label,
.white-form label.active {
  color: #ffffff !important;
}
.error-page {
  margin-top: 50px;
}
.error-page h1 {
  font-size: 40px;
}
h4 {
  font-weight: 600;
}
a {
  text-decoration: none;
}
.feature-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FAFBFF;
}
.feature-section .header {
  margin-bottom: 20px;
  text-align: center;
  color: #1E222C;
}
.card {
  margin-bottom: 2.625rem;
}
.card .card-content {
  padding-top: 45px !important;
  padding-bottom: 60px !important;
}
.card .card-content .card-text {
  font-size: 13px;
}
.card .card-content .sm-title {
  font-size: 13px;
  color: #69737d;
  font-weight: 600;
}
.card .card-content .card-title {
  margin-bottom: 30px;
  color: #18AAB4;
}
.card .card-content .card-title i {
  margin-right: 15px;
  float: left;
  font-size: 37px;
  width: 45px;
}
@media only screen and (min-width: 601px) {
  .card .card-content .left-offset {
    margin: 0 20px 10px 60px;
  }
}
.no-padding {
  padding: 0 !important;
}
.brand-color {
  background-color: #18AAB4 !important;
}
.brand-color-text {
  color: #18AAB4 !important;
}
.brand-color-text.lighten-1 {
  color: #4bdde7 !important;
}
.brand-color-box input[type=text]:focus {
  border-bottom-color: #18AAB4 !important;
}
.font-size09 {
  font-size: 0.937em;
}
.grey {
  background-color: #FAFBFF !important;
}
.grey-text {
  color: #69737D !important;
}
.black {
  background-color: #1E222C !important;
}
.black-text {
  color: #1E222C !important;
}
.sticky-footer-container {
  min-height: calc(100% - 20px - 5px);
  overflow: auto;
  background-size: cover;
}
footer {
  height: 20px;
}
footer .footer-copyright {
  background-color: #4bdde7;
}
.nav-extended {
  background-size: cover;
  min-height: 300px;
  background-color: #EDF0F7 !important;
}
.nav-extended #manage-menu {
  min-width: 215px;
}
.nav-extended .nav-content h5,
.nav-extended .nav-content h4 {
  text-transform: uppercase;
}
.nav-extended .nav-content h5 {
  font-size: 1.6em;
}
.nav-extended .ico-logo {
  max-height: 105px;
}
h1 {
  font-size: 64px;
  font-weight: 700;
}
h5 {
  font-size: 20px;
  font-weight: 600;
}
.brand-logo {
  font-size: 1rem !important;
  text-transform: capitalize;
}
.full-width {
  width: 100%;
}
.login-title {
  font-weight: lighter;
  font-size: 24px;
  color: gray;
  margin-bottom: 50px;
}
.terms-link {
  font-style: italic;
  text-decoration: underline;
}
.text-italic {
  font-style: italic;
}
.centered-box {
  margin: 100px auto 20px;
  max-width: 500px;
  width: 100%;
}
.centered-box .box {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px 25px;
}
.centered-box .box h4 {
  margin: 0 0 40px;
  font-weight: 400;
}
.btn.btn-block {
  font-weight: normal;
  font-size: 15px;
  width: 100%;
  margin-bottom: 30px;
}
.red-block-icon {
  background-color: red;
  border-radius: 15px;
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
}
.semi-bold {
  font-weight: 600;
}
.text-bold {
  font-weight: bold;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.media-heading {
  font-size: 1.25em;
}
@media only screen and (max-width: 600px) {
  .login div.card {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .login-title {
    margin-bottom: 20px;
  }
  .register {
    margin-top: 15px;
  }
  .register-title {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .btn-flat {
    line-height: inherit;
  }
  .media-heading {
    font-size: 1.5em;
  }
}
/*status page*/
.setting-status .contribution .label {
  font-weight: 600;
  display: inline-block;
  width: 170px;
  margin-bottom: 5px;
}
.setting-status .contribution .amount {
  color: #18AAB4 !important;
  font-weight: bold;
}
.setting-status .contribution .amount.lighten-1 {
  color: #4bdde7 !important;
}
.setting-status a.btn {
  margin-top: 20px;
}
/*status page*/